*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*
~$*.doc*
~$*.xls*

# System Files
.DS_Store
site/
Thumbs.db
*.icloud

# Obsidian
.obsidian/workspaces.json
.obsidian/workspace-mobile.json

# Translation process
filesChange.txt
*.py