@page {
    size: a4 portrait;
    margin: 25mm 10mm 25mm 10mm;
    counter-increment: page;
    font-size: 12px;
    white-space: pre;
    color: black;
    @top-left {
        content: '© 2024 BroodMinder';
    }
    @top-center {
        content: string(chapter);
    }
    @top-right {
        content: 'Page ' counter(page);
    }
}


img[src*="#largeImg"] {
   margin: 10px auto 20px;
   display: block;
   width:550px;
}

img[src*="#mediumImg"] { 
   margin: 10px auto 20px;
   display: block;
   width:300px;
}

img[src*="#smallImg"] {  
   margin: 10px auto 20px;
   display: block;
   width:150px;
}


img[src*="#picto"] { 
   margin: 10px auto 20px;
   display: block;
   width:50px;
}

:root {
    --md-primary-fg-color:        #006C46;
    --md-primary-fg-color--light: #26C801;
    --md-primary-fg-color--dark:  #006C46;
    --md-footer-fg-color:              #006C46;
    --md-footer-fg-color--light:       #26C801;
    --md-footer-fg-color--lighter:     #26C801;
}


.left-40, .right-other { float: left; }
.left-40 img, .right-other img { width: 100%; }
.left-40 { width: 40%; }
.right-other { width: 60%; padding: 10px;}

@media screen and (max-width: 767px) {
    .left-40, .right-other { width: 100%; }
}
